.turbo
dist/
.idea/

.DS_Store
coverage/
node_modules/
yarn-error.log

.env

apps/storefront-middleware/dev/temp/generate-certificates.sh
apps/storefront-middleware/dev/temp/multistore.sh
apps/storefront-middleware/dev/temp/nginx.conf
apps/storefront-middleware/dev/temp/nginx-server.conf
apps/storefront-middleware/dev/temp/*.pem
apps/storefront-middleware/dev/temp/*.log
apps/storefront-middleware/dev/temp/*.pid
